.divtablero {
    background-color: white;
    max-width: 100%; 
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cargar-tablero {
    display: grid;
    gap: 1rem;
    margin-top: 120px;
    grid-template-columns: repeat(7, 7rem);
    grid-template-rows: repeat(3, 6.1rem);
    justify-content: center;
    align-items: center;
}

.cada-carta {
    width: 90px;
    height: 90px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease;
    cursor: pointer;
}

.cada-carta .front,
.cada-carta .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    border-radius: 3px;
}


.cada-carta .front {
    background-color: rgb(212, 177, 206);
    border: 2px solid rgb(182, 157, 188);
}

.cada-carta .back {
    background-color: rgb(228, 122, 223);
    border: 2px solid rgb(156, 139, 160);
    transform: rotateY(180deg);
}


.cada-carta.flipped {
    transform: rotateY(180deg);
}
